html
  head
    title!= title
  body
    h1!= message
    div
    fieldset
      legend Submit reimbursement
      form(action='/employee/requests/:id',method='post')
      p Name:
        input(name='name',type='text',value=reimbursement['name'])
      p Where:
        input(name='where',type='text',value=reimbursement['where'])
      p Why:
        input(name='why',type='text',value=reimbursement['why'])
      p When:
        input(name='when',type='date',value=reimbursement['when'])
      p Amount:
        input(name='amount',type='number',value=reimbursement['amount'])
      p Document:
        input(name='document',type='file',value=reimbursement['document'])
      p  
        input(type="submit", value='Update reimbursement')
