html
  style.
    table, th, td {
      border: 1px solid black;
      border-collapse: collapse;
    }
  head
    title!= title
  body
    h1!= message
    div
     table(style='width:100%') 
       thead
         tr
           th
             | Name
           th
             | Where
           th
             | Why
           th
             | When
           th
             | Amount
           th
             | Document
           th
             | Action
        tbody 
          each reimbursement in reimbursements
            tr
              td=reimbursement.name
              td=reimbursement.where
              td=reimbursement.why
              td=reimbursement.when
              td=reimbursement.amount
              td=reimbursement.document
              td
                | Accept - Decline
        