html
  style.
    table, th, td {
      border: 1px solid black;
      border-collapse: collapse;
    }
  head
    title!= title
  body
    h1!= message
    div
     table(style='width:100%') 
       thead
         tr
           th
             | Reimbursement-ID
           th
             | Name
           th
             | Where
           th
             | Why
           th
             | When
           th
             | Amount
           th
             | Document
           th
             | Status
           th
             | Action
        tbody 
          each reimbursement in reimbursements
            tr
              td=reimbursement.id
              td=reimbursement.name
              td=reimbursement.where
              td=reimbursement.why
              td=reimbursement.when
              td=reimbursement.amount
              td: a( href=''+reimbursement.document): img(src='/images/file.png' alt='file')
              td=reimbursement.status
              td
                form(action='/manager/requests/' + reimbursement.id + '/status', method='post')
                  select(name='status')
                    option(value='accept')
                      | Accepted
                    option(value='decline')
                      | Declined
                  input(type="submit", value='Update reimbursement-status')
        